.container{
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap:20px;
    justify-content: center;
}
img{
    height:100px;
    width: 100px;
}
span{
   font-family: 'Times New Roman', Times, serif;
}